<br>
<div class="row">  
<% @savings.each do |saving| %>
    <div class="col-xs-2 col-sm-2">
      <%= link_to saving.title, saving %><br>
    </div>
    
    <div class="col-xs-2 col-sm-2">
      <%= saving.balance %><br>
    </div>
  <br>
<% end %>
</div>